<main id="root">Revamp</main>

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>

<script type="text/javascript">
      window.images = {
        '0': "<%= image_path("0.jpg") %>",
        '1': "<%= image_path("1.jpg") %>",
        '2': "<%= image_path("2.jpg") %>",
        '3': "<%= image_path("3.jpg") %>",
        '4': "<%= image_path("4.jpg") %>",
        '5': "<%= image_path("5.jpg") %>",
        '6': "<%= image_path("6.jpg") %>",
        '7': "<%= image_path("7.jpg") %>",
        '8': "<%= image_path("8.jpg") %>",
        '9': "<%= image_path("9.jpg") %>",
        '10': "<%= image_path("10.jpg") %>",
        '11': "<%= image_path("11.jpg") %>",
        '12': "<%= image_path("12.jpg") %>",
        '13': "<%= image_path("13.jpg") %>",
        '14': "<%= image_path("14.jpg") %>",
        '15': "<%= image_path("15.jpg") %>",
        '16': "<%= image_path("16.jpg") %>",
        '17': "<%= image_path("17.jpg") %>",
        '18': "<%= image_path("18.jpg") %>",
        '19': "<%= image_path("19.jpg") %>",
        '20': "<%= image_path("20.jpg") %>",
        '21': "<%= image_path("21.jpg") %>",
        '22': "<%= image_path("22.jpg") %>",
        '23': "<%= image_path("23.jpg") %>",
        '24': "<%= image_path("24.jpg") %>",
        '25': "<%= image_path("25.jpg") %>",
        '26': "<%= image_path("26.jpg") %>",
        '27': "<%= image_path("27.jpg") %>",
        '28': "<%= image_path("28.jpg") %>",
        '29': "<%= image_path("29.jpg") %>",
        '30': "<%= image_path("30.jpg") %>",
      }
    </script>